html
  head
    title= title
    script(scr="js/script.js" type="text/javascript")
    link(href="css/style.css" rel="stylesheet")
  body
    if name
      h1 Welcome to the session #{name}!
    else
      h1 Before we get started, what's your name?
      form(action='/sign-in', name='form' method='post')
        input(type="text", name='text_box', placeholder="name")
        input(type="submit", name='button', value="go!")